* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif ;
    background-color: black;
    color: #fff;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: rgba(0, 0, 0, 80%);
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2rem solid #ffa500;
    font-size: 1rem;
    padding: 1rem 7%;
    font-size: 1.3rem;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.brand a:hover {
    opacity: 70%;
}

.brand h1 {
    color: #fff;
}

.brand span {
    color: orange;
}

nav .navbar-items a {
    text-decoration: none;
    margin: 0 1.3rem;
    color: #fff;
    font-weight: 700;
}

nav .navbar-items a:hover {
    text-decoration: none;
    margin: 0 1.3rem;
    color: #fff;
    font-weight: 700;
    border-bottom: .2rem solid orange;
}

nav .navbar-items .socials {
    display: none;
}

nav .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

nav .hamburger-menu .hamburger {
    display: none;
    color: #fff;
}

nav .hamburger-menu .logo-nav {
    height: 2.5rem;
}

nav .hamburger-menu .logo-nav:hover {
    opacity: 80%;
} 

/* Hero */
.hero {
    height: fit-content;    
    padding: 0 7%;
    background: url(img/bg-hero\ -\ Copy.jpg);
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hero .container .wrap {   
    align-self: center;
    margin-top: 2rem;
}

.hero .container .wrap h1 {
    color: orange;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #333333;
}

.hero .container .wrap small {
    text-shadow: 1px 1px 1px #000000;
}

.hero .container .wrap .socials {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.hero .container .wrap .socials .yt {
    color: #fff;
    display: flex;
    gap: 0.3rem;
    background-color: orange;
    padding: 0.3rem;
    border: 3px solid #000000;
    border-radius: 0.5rem;
    font-weight: 700;
    box-shadow: 1px 1px 1px #000000;
    transition: .3s;
}

.hero .container .wrap .socials .yt:hover {
    box-shadow: .3rem .3rem .3rem #000000;
    border: 3px solid #000000;
}

.hero .container .wrap .socials .ig {
    color: #fff;
    display: flex;
    gap: 0.3rem;
    background-color: orange;
    padding: 0.3rem;
    border: 3px solid #000000;
    border-radius: 0.5rem;
    font-weight: 700;
    box-shadow: 1px 1px 1px #000000;
    transition: .3s;
}

.hero .container .wrap .socials .ig:hover {
    box-shadow: .3rem .3rem .3rem #000000;
    border: 3px solid #000000;
}

.hero .container .img {
    display: flex;
}


.hero .container .img img {
    width: 23rem;
    height: 34rem;
    margin-bottom: 0;
    margin-top: 7.2rem;
    min-height: max-content;
}

/* About */
.about {
    background: url(img/bg-about2\ -\ Copy.jpg);
    padding-top: 6rem;
    border: .3rem solid rgb(114, 71, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .title {
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    font-size: larger;  
}

.about .title span {
    color: orange;
}

.about .content {
    margin-top: 4rem;
    display: flex;
    background-color: orange;
    margin: 1rem ;
    border: .2rem solid #000000;
    border-radius: 1.5rem;
    box-shadow: .3rem .3rem .3rem #000000;
    flex-wrap: wrap;
    max-width: 768px;
    justify-content: center;
    transition: .3s;
    text-shadow: .1rem .1rem .1rem #000;
}

.about .content:hover {
    box-shadow: .5rem .5rem .5rem #000000;
    border: .2rem solid #000000;
}

.about .content .img-abt {
    width: 50%;
    margin-bottom: 2px;
    margin-top: 1rem;
    border: 0.4rem solid black;
    box-shadow: .3rem .3rem .3rem black;
    border-radius: .4rem;
}

.about .content .text-abt {
    margin: 1.5rem;
}

.about .content .text-abt a {
    color: #fff;
}

.about .content .text-abt span {
    color: red;
}

.about .content .image {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.about .content .image img {
    width: 25%;
}

/* Timeline */
.timeline {
    padding-top: 6rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline .title h1 {
    font-size: 1.7rem;
}

.timeline .title small {
    font-size: 1rem;
}

.container-tl {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    width: 90%;
}

.container-tl .bullets {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    border: .2rem solid #000000;
    box-shadow: .05rem .05rem .05rem orange;
    z-index: 2;
    position: relative;
}

.wrap-tl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.card-tl {
    display: flex;
    padding: 1rem;
    background-color: #ffa500;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: .2rem solid #000000;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .3rem #000000;
    max-width: 45rem;
}

.card-tl img {
    width: 6rem;

}

.card-tl .nf {
    border-radius: 11rem;
    border: .2rem solid #000;
}

.card-tl .text-tl {
    max-width: 45rem;
}

.card-tl .text-tl .judul-tl {
    margin-bottom: 1rem;
}

.container-tl::before {
    content: '';
    position: absolute;
    margin-right: 20.5rem;
    width: .2rem;
    height: 100%;
    background-color: #000000; /* Warna garis sesuaikan dengan kebutuhan Anda */
    /* left: 50%; Posisi garis di tengah */
    /* transform: translateX(-50%); Pusatkan garis horizontal */
    z-index: -1; /* Letakkan garis di bawah elemen .container-tl */
}

.garis {
    content: '';
    background-color: #000000;
    width: .2rem;
    height: 100%;
    position: absolute;
    margin-right: 96%;
    box-shadow: .05rem .05rem .05rem orange;
}



/* Hobi */

.about .hobbies {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.about .hobbies .title {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 1px #000000;
}

.about .hobbies h1 span {
    color: orange;
}

.about .hobbies .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.about .hobbies .container .card {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .7rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .3rem #000000;
    border: .2rem solid #000000;
    transition: .3s;
}

.about .hobbies .container .card:hover {
    box-shadow: .4rem .4rem .8rem #000000;
    border: .2rem solid #000000;
}

.about .hobbies .container .card a {
    font-weight: 600;
    color: azure;
    text-decoration: underline;
}

.about .hobbies .container .card img {
    width: 20rem;
    border: .5rem solid #000;
    border-radius: .5rem;
    transition: .3s all;
}

.about .hobbies .container .card img:hover {
    border-width: .8rem;
}

.about .hobbies .container .card h2 {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    color: #ffffff;
    text-shadow: .1rem .1rem .1rem #000;
}

.about .hobbies .container .card p {
    max-width: 450px;
    text-align: center;
    text-shadow: .1rem .1rem .1rem #000;
}

/* Organization */
.organization {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    max-width: 95%;
    text-shadow: 1px 1px 1px #000;
    justify-content: center;
}

.wrap-org {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-org .btn-left,
.wrap-org .btn-right {
    margin: 1rem;
    cursor: pointer;
    background-color: #00000048;
    border: .2rem solid rgb(0, 0, 0);
    transition: all .3s;
}

.wrap-org .btn-left:hover,
.wrap-org .btn-right:hover {
    margin: 1rem;
    cursor: pointer;
    background-color: #00000048;
    border: .2rem solid rgb(0, 0, 0);
    box-shadow: .2rem .2rem .2rem black;
    transition: all .3s;
}

.wrap-org .btn-left button,
.wrap-org .btn-right button {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    color: #fff;
    background-color: #0000001a;
} 

.title-org {
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 2rem;
}

.title-org h1 {
    font-size: 1.7rem;
}

.title-org small {
    font-size: 1rem;
}

.title-org span {
    color: orange;
}

.card-org.rohis {
    flex-direction: column;
    align-items: center ;
    border: .2rem solid rgb(0, 0, 0);
    padding: 1rem;
    background: orange;
    box-shadow: .2rem .2rem .2rem rgb(0, 114, 25);
}

.card-org.meta {
    flex-direction: column;
    align-items: center ;
    border: .2rem solid rgb(0, 0, 0);
    padding: 1rem;
    background: orange;
    box-shadow: .2rem .2rem .2rem rgb(255, 0, 0);
}

.card-org.ic {
    flex-direction: column;
    align-items: center ;
    border: .2rem solid rgb(0, 0, 0);
    padding: 1rem;
    background: orange;
    box-shadow: .2rem .2rem .2rem rgb(255, 244, 223);
}

.card-org {
    display: none; /* Menghilangkan semua card-org secara default */
}

.card-org.active {
    display: flex; /* Menampilkan card-org yang aktif */
}

.card-org .img-wrap-org {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.card-org .img-wrap-org a {
    color: yellow;
    text-shadow: .1rem .1rem .1rem green;
}

.card-org img {
    width: 15rem;
}

.card-org.meta img {
    width: 17rem;
}

.card-org .text-org.rohis {
    margin-top: 1rem;
    text-align: center;
    background-color: rgb(0, 114, 25);
    padding: 1rem;
    border-radius: .3rem;
    border: .2rem solid #000;
}

.card-org .text-org.meta {
    margin-top: 1rem;
    text-align: center;
    background-color: rgb(255, 0, 0);
    padding: 1rem;
    border-radius: .3rem;
    border: .2rem solid #000;
}

.card-org .text-org.ic {
    margin-top: 1rem;
    text-align: center;
    background-color: rgb(212, 188, 144);
    padding: 1rem;
    border-radius: .3rem;
    border: .2rem solid #000;
}

.card-org .text-org h3 {
    margin-bottom: 1.5rem;
}


/* Projects */
.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 5%;
}

.projects .title {
    padding-top: 6rem;
}

.projects .container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.card-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: orange;
    width: 20rem;
    border-radius: 2rem;
    border: .2rem solid black;
    box-shadow: .2rem .2rem .2rem black;
    transition: all .3s;    
}

.card-p .tempel {
    position: absolute;
    content: '';
    background-color: white;
    width: 6rem;
    height: 1rem;
    z-index: 999999999;
    left: -1.5rem;
    transform: rotate(-43deg);
    top: 1rem;
    border-radius: 1rem;
    border: .2rem solid black;
}

.card-p .tempel1 {
    position: absolute;
    content: '';
    background-color: white;
    width: 6rem;
    height: 1rem;
    z-index: 999999999;
    right: -1.5rem;
    transform: rotate(43deg);
    top: 1rem;
    border-radius: 1rem;
    border: .2rem solid black;
}

.card-p:hover {
    box-shadow: .4rem .4rem .4rem black;
    transition: all .3s;
}

.card-p img {
    width: 17.5rem;
    border: .2rem solid black;    
    border-radius: 1rem;
    transition: all .3s;
}

.card-p img:hover {
    transform: scale(1.05);
    transition: all .3s;
}

.card-p .text-p {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-p .text-p a h3 {
    color: purple;
    text-decoration: underline;
}

.card-p .text-p a h3:hover {
    color: rgb(243, 55, 243);
}

.card-p .text-p p {
    margin-top: 1rem;
}



/* Sertifikat */

.about .sertifikat {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
}

.about .sertifikat .title {
    max-width: 320px;
    align-self: center;
}

.about .sertifikat .container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 4rem;
    gap: 1.5rem;
}

.about .sertifikat .container .card {
    display: flex;
    font-size: 1rem;
    background-color: orange;
    border: .3rem solid #000000;   
    box-shadow: .2rem .2rem .1rem #000000;
    gap: 1rem;
    transition: all .3s;
    width: 100%;
}

.about .sertifikat .container .card:hover {
    box-shadow: .4rem .4rem 2rem #000000;
    border: .3rem solid #000000;  
}

.about .sertifikat .container .card img{
    width: 16rem;
}

.about .sertifikat .container .card .wrap .judul {
    margin: 1.5rem 0;
    max-width: 320px;
    text-shadow: .1rem .1rem .1rem #000;
}

.about .sertifikat .container .card .wrap p {
    margin: 1rem 0rem;
    text-shadow: .1rem .1rem .1rem #000;
}


/* Contact */
.contact {
    background: url(img/bg-hero\ -\ Copy.jpg);
    padding-bottom: 6rem;
}

.contact .title {
    padding-top: 6rem;
    padding-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    font-size: 1.2rem;
}

.contact h1 span {
    color: orange;
}

.container-form {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
    flex-direction: column;
    align-items: center;
}

.flash {
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
    width: 60%;
}

.flash p {
    background-color: darkgreen;
    padding: 1rem;
    border: .3rem solid #fff;
    display: none;
}

.flash p.active {
    display: block;
}

svg.octicon.octicon-x {
    background-color: #fff;
    cursor: pointer;
}

button.flash-close.js-flash-close {
    padding: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
}

button.flash-close.js-flash-close.active {
    display: flex;
}


form {
    background: url(img/bg-about2.jpg);
    padding: 1.5rem;
    border: .3rem solid #000000;
    border-radius: 1rem;
    width: 60%;
    height: 100%;
    box-shadow: .3rem .3rem .3rem #000;
    font-weight: bold;
}

.form-label {
    text-shadow: .1rem .1rem .1rem #000;
}

.nama,
.email,
.pesan {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.nama input,
.email input,
.pesan textarea {
    padding: .3rem;
    transition: all .3s;
}

.pesan textarea {
    font-family: 'Poppins', sans-serif ;
}

.nama input,
.email input,
.pesan textarea {
    border: .1rem solid #000 ;
}

.nama input:focus,
.email input:focus,
.pesan textarea:focus {
    box-shadow: .1rem .1rem .3rem #000;
}

.nama input:hover,
.email input:hover,
.pesan textarea:hover {
    box-shadow: .1rem .1rem .3rem #000;
}

form button {
    padding: 1rem;
    font-family: 'Poppins', sans-serif ;
    font-weight: bold;
    font-size: 1rem;
    border-radius: .5rem;
    background: #00000048;
    color: #fff;
    border: .1rem solid black;
    transition: all .3s;
}

form button:hover {
    background: #00000090;
}

form button:focus {
    background: #00000090;
}

.buttons-form {
    display: flex;
}

.btn-form-kirim {
    display: flex;
}

.btn-form-kirim.active {
    display: none;
}

.btn-form-loading {
    background: #00000090;
    display: none;
    align-items: center;
    gap: .2rem;
}

.btn-form-loading.active {
    display: flex;
}






/* Footer */
footer {
    display: flex;
    padding: 1.5rem;
    justify-content: space-around;
    background-color: rgba(27, 27, 27, 0.8);
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5rem;
    border-top: .3rem solid orange;
}   

footer .logo-brand {
    display: flex;
    color: orange;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo-brand .authors {
    font-size: .7rem;
    margin-bottom: 1rem;
}

footer .logo-brand .copy {
    margin-top: 1rem;
}

footer .logo-brand img {
    width: 8rem;
}

footer .container-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container-footer .home,
footer .container-footer .about-footer,
footer .container-footer .contact-footer {
    flex-direction: column;
    display: flex;
}

.judul-footer {
    color: orange;
    transition: all .3s;
}

.judul-footer:hover {
    color: rgb(173, 114, 4);
}

.list-footer {
    color: rgba(255, 255, 255, 0.299);
    transition: all .3s;
}

.list-footer:hover {
    color: #fff;
}

.socials-footer a {
    display: flex;
    align-items: center;
    padding-top: .2rem;
}





/* Media Querries */

/* Laptop */


/* Tablet */
@media (max-width: 810px) {
    .garis {
        content: '';
        background-color: #000000;
        width: .2rem;
        height: 100%;
        position: absolute;
        margin-right: 95%;
    }
}

@media (max-width: 768px) {
    nav {
        font-size: 1rem;
    }

    nav .navbar-items {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #000000d0;
        width: 20rem;
        height: 100vh;
        transition: .3s;
        flex-direction: column;
        display: flex;
        font-size: 1.5rem;
        border-left: .2rem solid orange;
        border-top: .2rem solid orange;
    }

    nav .navbar-items a:hover {
        border-bottom: .2rem solid orange;
        max-width: 8rem;
    }
    
    nav .navbar-items.slide {
        right: 0;
    }

    nav .navbar-items a {
        color: rgb(255, 255, 255) !important; 
        width: 10rem !important;
        padding: 0.5rem 0.5rem !important;
        margin: 0 0.3rem !important;
        max-width: 50%;
    }

    .hero {
        height: fit-content;
        padding: 0;
    }

    .hero .container {
        justify-content: center;
        flex-wrap: wrap;
        height: 100vh;
    }

    .hero .container .wrap {
        margin-top: 7rem; 
        text-align: center;    
    }

    .hero .container .wrap .socials {
        margin-top: 1rem;
        justify-content: center;
    }

    .hero .container .img img {
        width: 24rem;
        height: 34rem;
        margin-bottom: 0;
        margin-top: 2rem;    
        align-self: flex-end;
    }

    nav .hamburger-menu .hamburger {
        display: inline;
    }

    nav .hamburger-menu .hamburger:focus {
        color: orange;
    }

    .about .content {
        margin-top: 4rem;
        display: flex;
        margin: 1rem ;
        border-radius: 1.5rem;
        flex-wrap: wrap;
        max-width: 450px;
        justify-content: center;
    }

    .about .content .img-abt {
        width: 70%;
    }

    .about .sertifikat .container .card {
        flex-wrap: wrap;
        display: grid;
    }
    
    .about .sertifikat .container .card img {
        justify-self: center;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        max-width: 250rem;
        border: .3rem solid #000;
    }

    .about .sertifikat .container .card .wrap {
        display: grid;
    }

    .about .sertifikat .container .card .wrap p {
        text-align: center;
        margin: 1rem;
    }

    .about .sertifikat .container .card .wrap .judul {
        justify-self: center;
        text-align: center;
    }

    .about .sertifikat .container .card .wrap .judul .sk {
        margin: 0 1rem;
    }

    form {
        background: url(img/bg-about2.jpg);
        padding: 1rem;
        border: .3rem solid #000000;
        border-radius: 1rem;
        width: 80%;
        height: 100%;
        box-shadow: .3rem .3rem .3rem #000;
        font-weight: bold;
    }

    footer .container-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }

    .flash {
        width: 80%;
    }

    .flash p {
        background-color: darkgreen;
        padding: 1rem;
        border: .3rem solid #fff;
        display: none;
    }

    button.flash-close.js-flash-close {
        padding: 1rem;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .btn-form-kirim {
        display: flex;
    }
    
    .btn-form-loading {
        background: #00000090;
        display: none;
        align-items: center;
        gap: .2rem;
    }

    .card-org img {
        width: 13rem;
    }

    .card-org.meta img {
        width: 15rem;
    }

    .wrap-org .btn-left button,
    .wrap-org .btn-right button {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        color: #fff;
        background-color: #0000001a;
    } 

    .card-org .text-org h3 {
        font-size: 1rem;
    }

    .card-tl {
        flex-wrap: wrap;
    }

    .card-tl .text-tl h3 {
        text-align: center;
    }
    
    .card-tl .text-tl .judul-tl {
        text-align: center;
    }
    
    .card-tl .text-tl p {
        font-size: 1rem;
        margin-top: 1.2rem;
        text-align: center;
    }
    
    .card-tl .text-tl small {
        font-size: .8rem;
        text-align: center;
    }
}


/* HandPhone */
@media (max-width: 450px) {
    nav {
        font-size: 1rem;
    }

    nav .navbar-items {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #000000d0;
        width: 15rem;
        height: 100vh;
        transition: .3s;
        flex-direction: column;
        display: flex;
        font-size: 1.5rem;
    }

    .hero {
        height: fit-content;
    }

    .hero .container {
        justify-content: center;
    }

    .hero .container .wrap {
        margin-top: 5rem; 
        text-align: center;    
    }

    .hero .container .wrap h1 {
        font-size: 1.6rem;
    }

    .hero .container .wrap small {
        font-size: 75%;
    }

    .hero .container .wrap .socials {
        margin-top: 1rem;
        justify-content: center;
    }

    .hero .container .img img {
        margin-top: 2rem;
        width: 19rem;
        height: 27.3rem;
    }

    .about .hobbies .container .card img {
        width: 15rem;
    }

    .about .sertifikat .container .card .wrap p {
        margin: 1rem;
    }

    form button {
        padding: .8rem;
        font-family: 'Poppins', sans-serif ;
        font-weight: bold;
        font-size: .8rem;
        border-radius: .5rem;
        background: #00000048;
        color: #fff;
        border: .1rem solid black;
        transition: all .3s;
    }

    .card-org img {
        width: 12rem;
    }

    .card-org.meta img {
        width: 12rem;
    }
}

/* HandPhone kecil baat*/
@media (max-width: 416px) {
    .hero {
        height: fit-content;
    }    

    .hero .container .img img {
        width: 14rem;
        height: 20.3rem;
    }
    .wrap-org {
        margin: 0 9.1rem;
    }

    .card-org img {
        width: 11rem;
    }

    .card-org.meta img {
        width: 11rem;
    }

    .wrap-org .btn-left ,
    .wrap-org .btn-right {
        margin: .5rem;
    }

    .garis {
        content: '';
        background-color: #000000;
        width: .2rem;
        height: 100%;
        position: absolute;
        margin-right: 92.6%;
        box-shadow: .05rem .05rem .05rem orange;
    }
}

@media (max-width: 321px) {
    .card-org img {
        width: 9rem;
    }

    .card-org.meta img {
        width: 9rem;
    }

    .wrap-org .btn-left button,
    .wrap-org .btn-right button {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        color: #fff;
        background-color: #0000001a;
    } 

    .garis {
        content: '';
        background-color: #000000;
        width: .2rem;
        height: 100%;
        position: absolute;
        margin-right: 100%;
        box-shadow: .05rem .05rem .05rem orange;
    }
}